
@model List<LifeManagement.Models.Coach>
@{
    var common = new LifeManagement.Models.Common();
}
<link href="~/Content/coaches.css" rel="stylesheet" />

        <table class="table">
            @{
                foreach (var m in Model)
                {
                    <tr>
                        <td>
                            
                                <table class="table">
                                    <tr>
                                        <td class="coachimgtd" rowspan="5"><img class="coachimg" src="@common.SignatureImageStr64(m.Avatar, m.AvatarMime)" /></td>
                                        <td class="tdbordered">
                                            @(@m.FirstName + " " + m.LastName)

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @{
                                                for (int i = 0; i < m.ReviewScore; i++)
                                                {
                                                    <div class="stardiv">
                                                    </div>
                                                }
                                            }

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@m.Skills</td>
                                    </tr>
                                    <tr>
                                        <td>@m.Email</td>
                                    </tr>
                                    <tr>
                                        <td><a class="lmmodal" modal-width="700px" href="#" url="/Coaches/CoachDetailsPage/@m.Id">Details</a> |
                                            <a class="lmmodal" modal-width="500px" href="#" url="/Coaches/SelectCoach/@m.Id">Select </a> |
                                            <a href="#" onclick="renderDiv('@Url.Action("CoachReviews","Coaches",new {id=m.Id})',{id:@m.Id})">Reviews</a>    
                                        
                                        </td>

                                    </tr>

                                    <tr><td colspan="2"><hr /></td></tr>
                                </table>
                            
                        </td>
                    </tr>
                                                }
            }

        </table>



<link href="~/Content/coaches.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        setpopups();
    })
</script>