@model LifeManagement.Models.Coach

@{
    ViewBag.Title = "Details";
}

@{
    Layout = "../Shared/AdminDashBoardLayout.cshtml";
}

<div class="clearfix" style="background-color: white; width: 600px; position: relative; left: 25% ; top: 20px">
  
            <div class=" text-center">

                <h2>Details</h2>

                <div>
                    <h4>Coach</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ReviewScore)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ReviewScore)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Biography)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Biography)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Skills)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Skills)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Username)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Username)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Password)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Avatar)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Avatar)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AvatarMime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AvatarMime)
                        </dd>

                    </dl>
                </div>
            </div>
    <hr />
        <p style="padding-left:5em">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
            </p>

            <hr />
</div>