
@model LifeManagement.Models.Coach



   
  
    <div class="clearfix"  style=" width: 500px; margin: 0 auto;">
        <h2 class="text-center" style="color:#4c9be0"><strong> Welcome to the Recovery Page </strong></h2>
        <br />
   
        <div id="response_ok" class="text-success">

        </div>

        <div id="mainform" class="form-horizontal">
            <h3 class=" text-center" style="font-weight: bold"> Coach: <i> @Model.FirstName @Model.LastName</i></h3>
            <br />

            <p style="color: brown" class="col-md-offset-1"> Note: All fields are requeried * </p>

            <div class="form-horizontal col-md-12">
                <div class="form-group">
                    <label class="col-md-4 control-label" style="text-align: left"> New password </label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="newpass" id="newpass" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" style="text-align: left "> Confirm New password </label>

                    <div id="pass_not_equal" class=" text-center" style="color: red">

                    </div>

                    <div class="col-md-8">
                        <input class="form-control" type="password" name="newpass_conf" id="newpass_conf" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-8 col-md-4">
                        <button class="btn btn-success form-control" onclick="changepass()">Reset password</button>
                    </div>
                </div>

            </div>
        </div>
    </div>



<script>
    function changepass() {
        var pass = $("#newpass").val()
        if (pass == "")
            {
            alert("Error!! Passwords can't be null")
            return
        }

        function alertFunc() {
            alert("Your password was reseted successfully, \nyou'll now be redirected to the login page");
            window.location = '@Url.Action("LoginCoach", "Coaches", null, Request.Url.Scheme)';
        }

        $.ajax({
            url: '@Url.Action("ChangePass", "Coaches")',
            data: {
                newpass: $("#newpass").val(),
                newpass_conf: $("#newpass_conf").val(),
                id: @Model.Id},
            type: 'POST',
            success: function (res) {
                $("#newpass").val('')
                $("#newpass_conf").val('')
                setTimeout(alertFunc, 400);
            },
            error: function (res) {
                $("#newpass").val('')
                $("#newpass_conf").val('')
                $("#pass_not_equal").html("The passwords don't match, please try again.")
                }
        });
    }
</script>