@using LifeManagement.Models
@model List<LifeManagement.Models.SprintActivities>
    @{
        var common = new LifeManagement.Models.Common();
    }

<script src="~/Scripts/lmpopup.js"></script>
<div class="clearfix">
    <div class="col-md-12 text-right">
        <a class="btn btn-success lmmodal"  modal-width="100%" url='@Url.Action("GivingBack","Activities")' href="#">+</a>
    </div>
</div>
<div class="clearfix" >
    <div class="col-md-3"></div>
    @if (Model != null)
    {
        foreach (var a in Model)
        {

            <div class="cat-tiles col-md-3">
                <label id="lbl" for="@a.Id">
                    <div class="cat-tiles-body">

                        <img class="cat-tiles-img" src="@common.SignatureImageStr64(a.Activity.Img, a.Activity.ImgMime)"/>
                    </div>
                </label>
                <div style="display: block" class="cat-tiles-specifics" id="spec-@a.Id">
                    <label class="spec-lbl">@a.Specifics </label>
                </div>
                <div class="cat-tiles-footer">
                    <label class="cat-tiles-lbl">@a.Activity.Name</label>
                </div>


            </div>

        }
    }


</div>
