@model List<LifeManagement.Models.SprintActivities>
@{

    var firstact = Model[0];
    var common = new LifeManagement.Models.Common();
}


    <div class="col-md-12">

        <table class="table text-left" style="padding: 0">
            <tr>
                <th colspan="5">
                    Goals: 
                    @(firstact.Sprint.Goals.Where(a => a.CategoryId == firstact.Activity.CategoryId).FirstOrDefault().Description)
                </th>
            </tr>
            <tr>
                <th>Activity</th>
                <th>Progress</th>
                <th>Target</th>
                <th>Actual</th>
                <th>Activity Score</th>

            </tr>
            @foreach (var act in Model)
            {


                <tr>
                    <td style="width: 100px">
                        @act.Activity.Name <br/>
                        -@act.Specifics
                    </td>
                    <td style="width: 235px">
                        @{
                            var currentDay = act.Sprint.DateFrom;

                            for (int i = 0; i < 15; i++)
                            {
                                <a class="callink" href="#" onclick="saveProgress(@act.Id, @i)">
                                    <div id="@(@act.Id + "-" + i)" actid="@act.Id" cat="@act.Activity.Category.Name" class='caldaydiv @(@act.Progresses.Where(a => a.DatePerformed.Day == currentDay.Day &&
                                                                                                                                                                   a.DatePerformed.Month == currentDay.Month &&
                                                                                                                                                                   a.DatePerformed.Year == currentDay.Year).Count() > 0 ? "activeDay" : "")'>
                                        @currentDay.Day
                                    </div>
                                </a>
                                currentDay = currentDay.AddDays(1);
                            }
                        }
                    </td>
                    <td>12</td>
                    <td><span id="actual-@(@act.Id)"></span></td>
                    <td>
                        <div>
                            <div id="gaugeAct-@(@act.Id)" class="gauge gauge-small gauge-green">

                                <div class="gauge-arrow" data-percentage="40"
                                     style="transform: rotate(0deg);"></div>


                            </div>
                        </div>
                    </td>

                </tr>
            }
            <tr>
                <th colspan="2">Category Score</th>
                <th colspan="2">Cycle Score</th>
                <th></th>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <div id="gaugeCat-@(@firstact.Activity.Category.Name.Replace(" ",""))" class="gauge gauge-big gauge-green">

                            <div class="gauge-arrow" data-percentage="40"
                                 style="transform: rotate(0deg);"></div>


                        </div>
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        <div id="gaugeCycle" class="gauge gauge-big gauge-green">

                            <div class="gauge-arrow" data-percentage="40"
                                 style="transform: rotate(0deg);"></div>


                        </div>
                    </div>
                </td>
                <td></td>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2" class="text-right">
                    <button onclick="shareTab()" class="btn btn-primary "> <span class="glyphicon glyphicon-share"></span> Share</button>
                </td>
            </tr>
        </table>


    </div>
   

<script>
    function shareTab() {
                 $.ajax({
                   url: '@Url.Action("ShareTabs", "Users")',
                   data: { sprintActId: @Model[0].Id , tab: @common.currentTab},
                   type: 'POST',
                   success: function (res) {
                       renderDiv('@Url.Action("SeeCoachesUsers", "Coaches")', null);
                    },
                    error: function () {
                        alert("Error sharing, try again later.");
                    }
                });
    }
</script>