@model List<LifeManagement.Models.SprintActivities>
@{
    
    var firstact = Model[0];
}


<div class="clearfix">
    <div class="col-md-12">

        <table class="table text-center">
            <tr>
                <td colspan="5">
                    Goals: 
                    @(firstact.Sprint.Goals.Where(a => a.CategoryId == firstact.Activity.CategoryId).FirstOrDefault().Description)
                </td>
            </tr>
            <tr>
                <td>Activity</td>
                <td>Progress</td>
                <td>Target</td>
                <td>Actual</td>
                <td>Activity Score</td>

            </tr>
            @foreach (var act in Model)
            {


                <tr>
                    <td>
                        @act.Activity.Name <br/>
                        -@act.Specifics
                    </td>
                    <td>
                        @{
                            var currentDay = act.Sprint.DateFrom;

                            for (int i = 0; i < 15; i++)
                            {
                                <a class="callink" href="#" onclick="saveProgress(@act.Id, @i)">
                                    <div id="@(@act.Id + "-" + i)" actid="@act.Id" cat="@act.Activity.Category.Name" class='caldaydiv @(@act.Progresses.Where(a => a.DatePerformed.Day == currentDay.Day &&
                                                                                                                                                                   a.DatePerformed.Month == currentDay.Month &&
                                                                                                                                                                   a.DatePerformed.Year == currentDay.Year).Count() > 0 ? "activeDay" : "")'>
                                        @currentDay.Day
                                    </div>
                                </a>
                                currentDay = currentDay.AddDays(1);
                            }
                        }
                    </td>
                    <td>12</td>
                    <td>Actual</td>
                    <td>
                        <div>
                            <div id="gaugeAct-@(@act.Id)" class="gauge gauge-small gauge-green">

                                <div class="gauge-arrow" data-percentage="40"
                                     style="transform: rotate(0deg);"></div>


                            </div>
                        </div>
                    </td>

                </tr>
            }
            <tr>
                <td colspan="3">Category Score</td>
                <td colspan="2">Cycle Score</td>
                
            </tr>
            <tr>
                <td colspan="2" rowspan="3">
                    <div>
                        <div id="gaugeCat-@(@firstact.Activity.Category.Name.Replace(" ",""))" class="gauge gauge-big gauge-green">

                            <div class="gauge-arrow" data-percentage="40"
                                 style="transform: rotate(0deg);"></div>


                        </div>
                    </div>
                </td>
                <td colspan="2" rowspan="3">
                    <div>
                        <div id="gaugeCycle" class="gauge gauge-big gauge-green">

                            <div class="gauge-arrow" data-percentage="40"
                                 style="transform: rotate(0deg);"></div>


                        </div>
                    </div>
                </td>
                <td></td>

            </tr>
        </table>


    </div>
   
</div>
