@model LifeManagement.Models.Sprint
@{
    var needSprint = Model.DateFrom.AddDays(15) < DateTime.Now;
    var common = new LifeManagement.Models.Common();
}
<script src="~/Scripts/cooltabs.js"></script>
<link href="~/Content/cooltabs.css" rel="stylesheet" />
<link href="~/Content/ActCalendar.css" rel="stylesheet" />
<script src="~/Scripts/cmGauge.js"></script>
<link href="~/Content/cmGauge.css" rel="stylesheet" />
<div class="col-md-12">
    <span class="text-info">Sprint Goal:</span> @Model.SprintGoal
</div>
<div class="col-md-12  bhoechie-tab-container">
            <div class="col-md-2  bhoechie-tab-menu">
                <div class="list-group">
                    <a href="#" class="list-group-item active text-center" id="JoyTab">
                        <h4 class="glyphicon glyphicon-music"></h4><br />Joy
                    </a>
                    <a href="#" class="list-group-item text-center" id ="PassionTab">
                        <h4 class="glyphicon glyphicon-heart"></h4><br />Passion
                    </a>
                    <a href="#" class="list-group-item text-center" id ="GbTab">
                        <h4 class="glyphicon glyphicon-backward"></h4><br />Giving Back
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <h4 class="glyphicon glyphicon-dashboard"></h4><br />Score Summary
                    </a>
                   
                </div>
            </div>
            <div class="col-md-10 bhoechie-tab">
              
                <div class="bhoechie-tab-content active">
                    
                        <center>
                            @{Html.RenderAction("Tab", new { cat = "Joy" });}
                        </center>
                    
                </div>
               <div class="bhoechie-tab-content">
                    
                        <center>
                            @{Html.RenderAction("Tab", new { cat = "Passion" });}
                        </center>
                    
                </div>
                <div class="bhoechie-tab-content">
                 
                        <center>
                            @{Html.RenderAction("Tab", new { cat = "Giving Back" });}
                        </center>
                    
                </div>
                <div class="bhoechie-tab-content">
                 
                        <center>
                            @{Html.RenderAction("ScoreSummary","Sprints", new { id = Model.Id });}
                        </center>
                   
                </div>
              
            </div>
        </div>
   


<script>
    $(document).ready(function () {
        initDials(@Model.Id);

        var cat = $(this).attr('cat');
        if (cat == "Joy"){
            alert("Joy");
            return;
        }
        if (cat == "Passion"){
            alert("Joy");
            return;
        }
        if (cat == "Giving Back"){
            alert("Joy");
            return;
        }
    });
    $(document).ready(function () { checkNeedNewSprint(); })
    function checkNeedNewSprint() {
        if ('@needSprint' == 'True') {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("NewSprint", "Sprints")',
                success: function(res) {
                    $("#myDialogContainer").html(res);
                    $("#basicModal").modal('show');
                },
                error: function(msg) {
                    alert('could not prompt for new sprint');
                }

            });
        }
    }
    $('.gauge .gauge-arrow').cmGauge();
    function updateCatDial() {
        var joy=0, passion=0, gb=0;
        $('.caldaydiv.activeDay').each(function() {
            var cat = $(this).attr('cat');
            if (cat == "Joy")
                joy++;
            if (cat == "Passion")
                passion++;
            if (cat == "Giving Back")
                gb++;

        });

        $('#gaugeCat-Joy .gauge-arrow').trigger('updateGauge', joy / 36 * 100);
        $('#gaugeCat-Passion .gauge-arrow').trigger('updateGauge', passion / 24 * 100);
        $('#gaugeCat-GivingBack .gauge-arrow').trigger('updateGauge', gb / 24 * 100);
        $('#gaugeCycle .gauge-arrow').trigger('updateGauge', ((((joy / 36) + (passion / 24) + (gb/ 24)) * 100) / 3));

    }
    function updateDials(actiId, actScore) {

        $('#gaugeAct-' + actiId + ' .gauge-arrow').trigger('updateGauge', actScore/12 * 100);
        $('#actual-' + actiId).html(actScore );
    }
    function initDials(sprintid) {
        data = { sprintId: sprintid};
        $.ajax({
            url: '@Url.Action("GetPercentages", "SprintActivities")',
            type: 'GET',
            data: data,

            success: function (msg) {
                for (var j in msg.Percentages.Joy.Data) {

                    updateDials(msg.Percentages.Joy.Data[j].actId, msg.Percentages.Joy.Data[j].percentage);

                }
                for (var j in msg.Percentages.Passion.Data) {

                    updateDials(msg.Percentages.Passion.Data[j].actId, msg.Percentages.Passion.Data[j].percentage);

                }
                for (var j in msg.Percentages.Gb.Data) {

                    updateDials(msg.Percentages.Gb.Data[j].actId, msg.Percentages.Gb.Data[j].percentage);

                }
                updateCatDial();

            },
            error: function(res) {
                alert('error');
            }
        });
    }
    function saveProgress(actid, day) {
        var iddiv = "#" + actid + "-" + day;

        data = { sprintActId: actid, Day: day };
        $.ajax({
            url:'@Url.Action("SaveProgress","SprintActivities")',
            type:'POST',
            data:data,
            success: function (msg) {
                if ($(iddiv).hasClass("activeDay"))
                    $(iddiv).removeClass("activeDay");
                else {
                    $(iddiv).addClass("activeDay");
                }
                updateDials(actid, msg.Percentage);
                updateCatDial();
            },
            error:function(res) {
                alert('error');
            }
        })
    }

</script>