@model LifeManagement.Models.Activity
@{
    LifeManagement.Models.Common common = new LifeManagement.Models.Common();
}
<link href="~/Content/Reviews.css" rel="stylesheet" />
<div class="clearfix">


    <div class="col-md-12">
        <div id="approveerrors" class="text-danger"></div>
    </div>
    <div class="col-md-12 text-center">
        <div class="cat-tiles col-sm-4 col-md-4 col-md-offset-4" style="margin-left: 33.33%!important;margin-bottom: 5px">
            <label id="lbl" for="@Model.Id">
                <div class="cat-tiles-body">

                    <img class="cat-tiles-img" src="@common.SignatureImageStr64(Model.Img, Model.ImgMime)" />
                </div>
            </label>
            <div class="cat-tiles-footer">
                <input class="cat-tiles-chk chk-cat" type="checkbox" id="@Model.Id" />
                <label class="cat-tiles-lbl">@Model.Name</label>
            </div>


        </div>
    </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-sm btn-success" onclick="revise(true)">Approve</button>
            <button class="btn btn-sm btn-danger" onclick="revise(false)">Reject</button>
        </div>
    </div>


               
<script>
    function revise(isApproved) {
        var data= {
            id:@Model.Id,
            isApproved:isApproved
        }
        $.ajax({
            url: '@Url.Action("CompleteReview","Activities")',
            type: 'POST',
            data: data,
            success: function(msg) {
                $("#pending-list").html(msg);
                $("#basicModal").modal('hide');
            },
            error: function(res) {
                $("#approveerrors").html("Could not complete review")
            }
        });
    }
</script>
<style>
    .review-div {
        max-height: 1000px !important;
    }
</style>