@{
    var common = new LifeManagement.Models.Common();
}
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalcontent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>

            </div>
            <div class="modal-body" id="modalbodydiv">
                <div id="myDialogContainer">

                </div>

            </div>

        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><span>Managed</span>Life</a>
            <ul class="user-menu list-inline">


                @{
                    if (common.IsAuthenticated)
                    {
                        <li class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> @User.Identity.Name <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @{
                                    if (common.isCoach())
                                    {
                                        <li><a class="lmmodal" modal-width="700px" url='@Url.Action("CoachEditProfile", "Coaches")' href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                                    }
                                    else
                                    {

                                        <li><a class="lmmodal" modal-width="700px" url='@Url.Action("UserEditProfile", "Users")' href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                                    }
                                }
                                <li><a href="@Url.Action("Dashboard", "Users")"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Dashboard</a></li>
                                <li><a href="@Url.Action("LogOut", "Users")"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Quiz", "Home")">Take a quiz | </a> &nbsp;
                        </li>
                        <li>
                            <a style="color: #4c9be0" href="@Url.Action("SeeCoaches", "Coaches")">Life Coaches | </a> &nbsp;
                        </li>
                        <li>
                            <a href="@Url.Action("Login", "Users")">User Login | </a> &nbsp;
                        </li>
                        <li>
                            <a style="color: #4c9be0" href="@Url.Action("LoginCoach", "Coaches")"> Coach Login |</a>
                        </li>
                        <li>
                            <a  href="@Url.Action("Videos", "Home")"> Videos </a>
                        </li>

                                    }
                }

            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>
<script>
    var dashboard = true;
</script>