@{
    var common = new LifeManagement.Models.Common();
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
     @RenderSection("scripts", required: false)
    @{ Html.RenderPartial("_LayoutsHead"); }
    <script src="~/Scripts/userdashboard.js"></script>
</head>
<body>
    @if (IsSectionDefined("bgdiv"))
    {
        @RenderSection("bgdiv");
    }
    else
    {
        <bgdiv>
            <div class="bgdiv"></div>
        </bgdiv>
    }
    @{ Html.RenderPartial("_navBar"); }
    
        <div id="sidebar-collapse" class="col-md-2 sidebar">

            <div class="form-group" style="height: 230px">
                @{Html.RenderAction("ProfilePic", "Coaches");}
            </div >

                <ul class="nav menu">
               
            <li><a href="#" onclick="renderDiv('@Url.Action("Chat", "Forums")',null)"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Chat</a></li>
                  
             
            </ul>

        </div>


    <div id="usersection" class="col-md-10 col-md-offset-2  main" style="margin-top: 20px; max-height: 900px;overflow: auto">

        @RenderBody()
    </div>	<!--/.main-->
   
   
</body>
</html>
