
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @{ Html.RenderPartial("_LayoutsHead"); }

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

    @RenderSection("AddToHeadAnotherWay", required: false)
   
  
    <script src="~/Scripts/userdashboard.js"></script>
 
</head>
<body>
    @if (IsSectionDefined("bgdiv"))
    {
        @RenderSection("bgdiv");
    }
    else
    {
        <bgdiv>
            <div class="bgdiv"></div>
        </bgdiv>
    }
    @{ Html.RenderPartial("_navBar"); }
   
    <div class="clearfix">



        <div id="sidebar-collapse" class="col-md-2 sidebar">

            <div class="form-group" style="height: 230px">
                @{Html.RenderAction("ProfilePic", "Users");}
            </div>

            <ul class="nav menu">
                <li><a href="#" onclick="renderDiv('@Url.Action("Tabs", "SprintActivities")',null)"><svg class="glyph stroked dashboard dial"><use xlink:href="#stroked-dashboard-dial" /></svg> Progress Summary</a></li>
                <li><a class="lmmodal" modal-width="600px" url='@Url.Action("Create","Sprints")' href="#"><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper" /></svg> Setup new Productivity Week</a></li>
                <li><a href="#" onclick="renderDiv('@Url.Action("Chat", "Forums")',null)"><svg class="glyph stroked two messages"><use xlink:href="#stroked-two-messages" /></svg> Chat</a></li>
                <li><a href="#" onclick="renderDiv('@Url.Action("SeeCalendar", "Appointments")',null)"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar" /></svg> Appointments</a></li>
                <li><a href="#" onclick="renderDiv('@Url.Action("SeeCoachesUsers", "Coaches")',null)"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user" /></svg> Coaches</a></li>
                <li><a class="lmmodal"  modal-width="600px" url='@Url.Action("InviteApp","Users")' href="#"><svg class="glyph stroked sound on"><use xlink:href="#stroked-sound-on" /></svg> Invite a friend</a></li>

                

            </ul>

        </div>

        <div id="usersection" class="col-md-10 col-md-offset-2  main" style="margin-top: 20px; max-height: 900px;overflow: auto">

            @RenderBody()
        </div>	<!--/.main-->
    </div>
</body>

</html>
