@using LifeManagement.Models
@model List<LifeManagement.Models.Activity>
    @{
        var common = new LifeManagement.Models.Common();
    }








<div class="clearfix">
    <h4 class="col-md-12 text-center" style="color:white">Select two activities in which you would like to give back</h4>
    <div class="col-md-12 text-center">
        @if (Model != null)
        {
            foreach (var a in Model)
            {

                <div class="cat-tiles col-sm-4 col-md-3">
                    <label id="lbl" for="@a.Id">
                        <div class="cat-tiles-body">

                            <img class="cat-tiles-img" src="@common.SignatureImageStr64(a.Img, a.ImgMime)" />
                        </div>
                    </label>
                    <div class="cat-tiles-specifics" id="spec-@a.Id">
                        <textarea placeholder="Specify activities" class="cat-tiles-spec-text" rows="1"></textarea>
                    </div>
                    <div class="cat-tiles-footer">
                        <input class="cat-tiles-chk chk-gb" type="checkbox" id="@a.Id" />
                        <label class="cat-tiles-lbl">@a.Name</label>
                    </div>


                </div>

            }
        }

    </div>

        
    </div>
<div class="col-md-12 text-right"><button data-dismiss="modal" class="btn btn-success" onclick="renderCardBlock('@Url.Action("GivingBack","SprintActivities")','#gbtab')">Save</button></div>

<script>
    var gblimit = 2;


    $('.chk-gb').on('change', function (evt) {
        var isInsert = this.checked;
        debugger;
        if (isInsert) {
            var l = $('.chk-gb:checkbox:checked').length;

            if (l >= gblimit + 1) {
                this.checked = false;
                return;
            } else {

                $("#spec-" + this.id).css('display', 'block');
            }
        } else {

            $("#spec-" + this.id).css('display', 'none');
        }




    });
</script>