@using LifeManagement.Models
@model List<LifeManagement.Models.Activity>
    @{
        var common = new LifeManagement.Models.Common();
    }





<div id="joyerror" class="text-danger" style="display: none"><h4>Need to select three activities</h4></div>


<div class="clearfix" >
    <h4 class="col-md-12 text-center" style="color:white">Select three activities that give you joy</h4>
    <div class="col-md-12 text-center">
        @if (Model != null)
        {
            foreach (var a in Model)
            {

                <div class="cat-tiles col-sm-4 col-md-3">
                    <label id="lbl" for="@a.Id">
                        <div class="cat-tiles-body">

                            <img class="cat-tiles-img" src="@common.SignatureImageStr64(a.Img, a.ImgMime)" />
                        </div>
                    </label>
                    <div class="cat-tiles-specifics" id="spec-@a.Id">
                        <textarea placeholder="Specify activities" class="cat-tiles-spec-text" rows="1"></textarea>
                    </div>
                    <div class="cat-tiles-footer">
                        <input class="cat-tiles-chk chk-joy" type="checkbox" id="@a.Id" />
                        <label class="cat-tiles-lbl">@a.Name</label>
                    </div>


                </div>

            }

        }

    </div>
  

</div>
<div class="col-md-12 text-right"><button class="btn btn-success" onclick="saveJoy()">Save</button></div>

<script>
    var joylimit = 3;
   
    $('.chk-joy').on('change', function (evt) {
        var isInsert = this.checked;
       
        if (isInsert) {
            var l = $('.chk-joy:checkbox:checked').length;

            if (l >= joylimit + 1) {
                this.checked = false;
                return;
            } else {

                $("#spec-" + this.id).css('display', 'block');
            }
        } else {

            $("#spec-" + this.id).css('display', 'none');
        }




    });

    function saveJoy() {
       
        var l = $('.chk-joy:checkbox:checked').length;
        if (l != joylimit) {
            $("#joyerror").show(200);
            return;
        } else {
            submitAll();
            renderCardBlock('@Url.Action("Joy","SprintActivities")', '#joytab');
            $("#basicModal").modal("hide");
        }
       
    }
</script>

