@model LifeManagement.Models.User

@{
    var common = new LifeManagement.Models.Common();
}


<div class="form-group" style="height: 230px">
    @{
        if (Model.Avatar == null)
        {
            <img src="~/Imgs/user_avatar.png" width="160" height="160" alt="User Avatar" style="position:relative; left: 20%; top: 20px">
            <p style=" position: relative; top: 40px; text-align:center"> <strong> @Model.FirstName @Model.LastName </strong></p>
        }

        else
        {
            <div class="coach-avatar-container" style="position:relative; left: 20px; top: 20px">
                <img class=" coach-avatar-img " src="@common.SignatureImageStr64(Model.Avatar, Model.AvatarMime)">
            </div>
            <p style=" position: relative; top: 40px; left: 20%"> <strong> @Model.FirstName @Model.LastName </strong></p>
        }

    }
</div>