
<!DOCTYPE html>
<html>
<head>
  
    @{ Html.RenderPartial("_LayoutsHead"); }

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

    @RenderSection("AddToHeadAnotherWay", required: false)
 
</head>
<body>
    

    @if (IsSectionDefined("bgdiv"))
    {
        @RenderSection("bgdiv");
    }
    else
    {
        <bgdiv>
            <div class="bgdiv"></div>
        </bgdiv>
    }

    @{ Html.RenderPartial("_navBar"); }@{ Html.RenderPartial("_navBar"); }



<div class="container-full body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - managedLife</p>
    </footer>
</div>

</body>
</html>
