@{
    var common = new LifeManagement.Models.Common();
}
<!DOCTYPE html>
<html>
<head>
    @RenderSection("scripts", required: false)
    @{ Html.RenderPartial("_LayoutsHead"); }

</head>
<body>
    @if (IsSectionDefined("bgdiv"))
    {
        @RenderSection("bgdiv");
    }
    else
    {
        <bgdiv>
            <div class="bgdiv"></div>
        </bgdiv>
    }
    @{ Html.RenderPartial("_navBar"); }
    
        <div id="sidebar-collapse" class="col-md-2 sidebar">

            <div class="form-group" style="height: 230px">
                @{Html.RenderAction("ProfilePic", "Users");}
            </div>

            <ul class="nav menu">
                <li class="active"><a href="index.html"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
                <li><a href="~/Views/Shared/Dashboard_other/widgets_index.cshtml"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Progress Summary</a></li>
                <li><a class="lmmodal" modal-width="600px" url='@Url.Action("CreateActivity","Activities")' href="#"><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"></use></svg> Create Activity</a></li>
                <li><a class="lmmodal" modal-width="100%" url='@Url.Action("EditActivity","Activities")' href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Edit Activity</a></li>
                <li><a  href='@Url.Action("Index","Coaches")' > <svg class="glyph stroked male user "><use xlink:href="#stroked-male-user" /></svg> Coaches </a></li>
                <li><a href="panels.html"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Alerts &amp; Panels</a></li>
                <li><a href="icons.html"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>
                <li class="parent ">
                    <a href="#">
                        <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Dropdown
                    </a>
                    <ul class="children collapse" id="sub-item-1">
                        <li>
                            <a class="" href="#">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1
                            </a>
                        </li>
                        <li>
                            <a class="" href="#">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2
                            </a>
                        </li>
                        <li>
                            <a class="" href="#">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                            </a>
                        </li>
                    </ul>
                </li>
                <li role="presentation" class="divider"></li>

            </ul>

        </div>

        <div class="col-md-10 col-md-offset-2  main">

            <div class="row">
                <div class="col-md-12">
                    <div>
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year - managedLife</p>
                        </footer>
                    </div>



                </div>
            </div>

        </div>	<!--/.main-->
   
   
</body>
</html>
