@{
    var common = new LifeManagement.Models.Common();
}
<!DOCTYPE html>
<html>
<head>
    @RenderSection("scripts", required: false)
    @{ Html.RenderPartial("_LayoutsHead"); }
    <script src="~/Scripts/userdashboard.js"></script>
</head>
<body>
    @if (IsSectionDefined("bgdiv"))
    {
        @RenderSection("bgdiv");
    }
    else
    {
        <bgdiv>
            <div class="bgdiv"></div>
        </bgdiv>
    }
    @{ Html.RenderPartial("_navBar"); }
    <div class="clearfix">
        <div id="sidebar-collapse" class="col-md-2 sidebar">

            <div class="form-group" style="height: 230px">
                @{Html.RenderAction("ProfilePic", "Users");}
            </div>

            <ul class="nav menu">
                <li><a class="lmmodal" modal-width="600px" url='@Url.Action("CreateActivity","Activities")' href="#"><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"></use></svg> Create Activity</a></li>
                <li><a class="lmmodal" modal-width="100%" url='@Url.Action("EditActivity","Activities")' href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Edit Activity</a></li>
                <li><a href='@Url.Action("Index","Coaches")'> <svg class="glyph stroked male user "><use xlink:href="#stroked-male-user" /></svg> Coaches </a></li>
                <li><a href="#" onclick="renderDiv('@Url.Action("Revise", "CoachReviews")',null)"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Reviews Penging Approval </a></li>
                <li><a href="#" onclick="renderDiv('@Url.Action("Revise", "Activities")',null)"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Activities Penging Approval </a></li>

            </ul>

        </div>

        <div id="usersection" class="col-md-10 col-md-offset-2  main" style="margin-top: 20px; max-height: 900px;overflow: auto">

            @RenderBody()
        </div>	<!--/.main-->
    </div>
</body>

</html>
