
<!DOCTYPE html>
<html>
<head>
  
    @{ Html.RenderPartial("_LayoutsHead"); }

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

    @RenderSection("AddToHeadAnotherWay", required: false)
   
  
    <script src="~/Scripts/userdashboard.js"></script>
 
</head>
<body>
    @if (IsSectionDefined("bgdiv"))
    {
        @RenderSection("bgdiv");
    }
    else
    {
        <bgdiv>
            <div class="bgdiv"></div>
        </bgdiv>
    }
    @{ Html.RenderPartial("_navBar"); }
   
    <div class="clearfix">



        <div id="sidebar-collapse" class="col-md-2 sidebar">

            <div class="form-group" style="height: 230px">
                @{Html.RenderAction("ProfilePic", "Users");}
            </div>

            <ul class="nav menu">
                <li><a href="#" onclick="renderDiv('@Url.Action("Tabs", "SprintActivities")',null)"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Progress Summary</a></li>
                <li><a class="lmmodal" modal-width="600px" url='@Url.Action("Create","Sprints")' href="#"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Setup new Productivity Week</a></li>
                <li><a href="#" onclick="renderDiv('@Url.Action("Chat", "Forums")',null)"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Chat</a></li>
                <li><a href="#" onclick="renderDiv('@Url.Action("SeeCalendar", "Appointments")',null)"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Appointments</a></li>

                

            </ul>

        </div>

        <div id="usersection" class="col-md-10 col-md-offset-2  main" style="margin-top: 20px; max-height: 900px;overflow: auto">

            @RenderBody()
        </div>	<!--/.main-->
    </div>
</body>

</html>
